.login-container {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("../../assets/sec/4.jpg");
  background-size: cover;
  height: 100vh;
}

.login-card {
  margin: 0 1rem;
  // width: 100%;
  // padding: 2rem 1rem;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: none;


  img {
    width: 100%;
    margin-bottom: 2rem;
  }
  button {
    // width: 100px;
    // padding: 0.5rem 0rem;
    box-shadow: none;
    background-color: #1C5196;
    color:white;
  }
}
.frame{
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // background: url("../../assets/sec/4.jpg");
  background-size: cover;
  height: 100vh;
  background-color: rgba(15, 44, 82, 0.8);
}
h1 {
  margin: 2rem 0;
  // font-size: 2rem;
  // font-weight: 100;
  color: white;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  text-transform: uppercase;
}
