.dashboard-container {
  padding-bottom: 1rem;
}
.welcome-message {
  text-align: center; /* Center the message */
  color: var(--primary-color); /* Use Angular Material's primary color */
  margin: 20px 0; /* Adjust margin as needed */
  font-weight: 400;
  color: #1c5196;
}
.reports-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 1rem;
  // padding-left: 3rem;
  // padding-right: 3rem;
}
// .dashboard-container{
//   padding-left: 3rem;
//   padding-right: 3rem;
// }
// .main-card{
//   display: flex;
//   flex-direction: row ;
// }
.mat-mdc-card {
  color: rgb(28 81 150);
  width: 45%;
}

@media (max-width: 768px) {
  .mat-mdc-card {
    // color: rgb(28 81 150);
    width: 100%;
  }
}
.card-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  gap: 10px;
}
.card-title {
  font-weight: 400;
  font-size: 1.1rem;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
::ng-deep .mat-card-header-text {
  /* CSS styles go here */
  margin: 0px; // for example to remove the margin
  width: 0px;
}
.icon-and-title {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
