@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
:root { --app-font-family: 'Roboto', Arial, Helvetica, sans-serif; }
html, body { font-family: var(--app-font-family); }
