
/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version.*/
mat-card{
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  gap: 10px;
  margin-top: 1rem;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 10px;
  border: 2px solid transparent ;
  transition: all 0.5s ease-out;

}
.comment-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.comment-content {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  gap: 10px;
}

.comment-icon {
  color: #1c5196;
  // margin-right: 12px;
}

.comment-text {
  font-size: 14px;
  color: #333;
  flex: 1;
  line-height: 1.5;
  margin: 0;
  span{
    color:#1c5196 ;
  }
}

.comment-footer {
  display: flex;
  width: min-content;
  flex-wrap: nowrap;
  padding-top: 8px;
  flex-direction: row;
}

.status-chip {
  font-size: 12px;
  height: 24px;
  margin-right: 16px;
  color: white;
  background-color: #1c5196;
}

.user-info {
  display: flex;
  align-items: center;
  // font-size: 14px;
  font-weight: bold;
  gap: 10px;
  // margin-right: 16px;
  width: max-content;
}

.comment-details {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  color: #777;
  // margin-right: 16px;
  gap: 10px;
  width: max-content;
}
.comment-info {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  color: #777;
  align-items: center;
  gap: 10px;
  justify-content: flex-end;
  // margin-right: 16px;
}
.comment-side{
  display: flex;
  flex-direction: column;
  align-items: end;
}

.timestamp {
  // margin-top: 2px;
}

.options-button {
  color: #333;
}

@media (max-width: 600px) {
  .comment-footer {
    // flex-direction: column;
    align-items: flex-start;
  }

  .user-info,
  .comment-details,
  .status-chip {
    margin-bottom: 8px;
  }
}
/* TODO(mdc-migration): The following rule targets internal classes of chips that may no longer apply for the MDC version.*/
mat-chip{
  width: max-content;
}

.status-pending {
  // background-color: #f9c74f;
  background-color: #EF7720;
  color: #fff;
}

.status-review {
  background-color: #1C5196;
  color: #fff;
}

.status-approved {
  background-color: #2E7D32;
  color: #fff;
}

.status-error {
  background-color: #D32F2F;
  color: #fff;
}


.replies-container {
  margin-left: 32px;
  border-left: 1px solid #ccc;
  padding-left: 16px;
  margin-top: 8px;
}


// .comment-item {
//   display: flex;
//   flex-direction: column;
//   padding: 16px;
//   margin-bottom: 10px;
//   border-radius: 8px;
//   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
// }

.replies-thread {
  margin-top: 10px;
  padding-left: 20px;
  border-left: 2px solid #ccc;

}

.reply-item {
  padding: 8px 0;
  font-size: 14px;
  color: #444;
}

.reply-item p {
  margin: 0;
  color: #333;
}

.reply-details {
  font-size: 12px;
  color: #777;
}
 .toggle{
  display: flex;
    justify-content: center;
    margin-bottom: -0.5rem !important;
 }
 .emptyMsg{
  text-align: center;
  margin-top: 1rem;
  color: #777777;
}

.highlight{
  border: 2px solid #1C5196;

}
