mat-form-field{
  width: 100%;
}

/* Ensure comfortable inner spacing specifically for this dialog */
:host ::ng-deep .mat-mdc-dialog-content {
  padding: 1rem !important;
}

:host ::ng-deep .mat-mdc-dialog-actions {
  padding: 0.5rem 1rem 1rem 1rem !important;
}
.mat-mdc-dialog-container .mat-mdc-dialog-title+.mat-mdc-dialog-content {
  padding-top: 1rem !important;
}