.report-page-container {
  padding: 20px;
}

.custom-table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.header-text {
  display: flex;
  flex-direction: column;
}

.download-button {
  color: #1976d2;
}

.table-container {
  margin-bottom: 20px;
  width: 100%;
  overflow-x: auto;
}

.header-table, .mat-elevation-z8 {
  width: 100%;
  table-layout: fixed; /* Ensure columns have a fixed width */
}

.header-table th, .mat-elevation-z8 th, .mat-elevation-z8 td {
  padding: 8px 16px;
  text-align: center;
}

.header-table th {
  font-weight: 600;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
}

.mat-mdc-row:nth-child(even) {
  background-color: #f9f9f9;
}

.mat-mdc-header-row {
  background-color: #1976d2;
  color: white;
}

.mat-mdc-header-cell, .mat-mdc-cell {
  text-align: center;
}

.button-section {
  display: flex;
  justify-content: space-between;
}

.success-button {
  background-color: #4caf50;
  color: white;
}


.tab-content {
  padding: 16px;
}

/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
.mat-tab-label {
  font-size: 16px;
  font-weight: 500;
}

/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
.mat-tab-body-content {
  background-color: #f9f9f9;
  padding: 16px;
  border-radius: 4px;
}

.mat-mdc-tab-group {
  /* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
  .mat-tab-label-active {
    color: #1c5196; /* Primary color */
  }

  .mat-ink-bar {
    background-color: #ef6c00; /* Accent color */
  }
}

/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
.mat-tab-labels {
  display: flex;
  justify-content: space-around;
}
mat-horizontal-stepper{
  background-color: transparent;
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.addBtn{
  height: 2.2rem;
}
// Filters Section
.filters-section {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 24px;
  padding: 20px;
  background: #f8f9fa;
  border-radius: 8px;
  border: 1px solid #e9ecef;
  justify-content: space-between;
}
.filters-section-left {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
}
.filters-section-right {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
}