.env
.example.env
node_modules
/node_modules
/dist
dist
.env
.env.example
.env.local
.env.development
.env.production
.env.test
.env.test.local
.env.test.local.example
.env.test.local.production
.env.test.local.development
.angular
.angular/cache
.angular/cache/
.angular/cache/ 
.firebase/