
/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version.*/
mat-card{
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  gap: 10px;
  margin-top: 1rem;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 10px;
  border: 2px solid transparent ;
  transition: all 0.5s ease-out;

}
.comment-item {
  display: flex;
  flex-direction: row;
  padding: 16px;
  margin-bottom: 10px;
  align-items: center;
  border-radius: 8px;
  justify-content: space-between;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  gap: 10px;
  margin-top: 1rem;
}

.comment-content {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  gap: 10px;
}

.comment-icon {
  color: #1c5196;
  // margin-right: 12px;
}

.comment-text {
  font-size: 14px;
  color: #333;
  flex: 1;
  line-height: 1.5;
  margin: 0;
}

.comment-footer {
  display: flex;
  width: min-content;
  flex-wrap: nowrap;
  padding-top: 8px;
  flex-direction: row;
}

.status-chip {
  font-size: 12px;
  height: 24px;
  margin-right: 16px;
  color: white;
  background-color: #1c5196;
}

.user-info {
  display: flex;
  align-items: center;
  // font-size: 14px;
  font-weight: bold;
  gap: 10px;
  width: max-content;
  // margin-right: 16px;
}

.comment-details {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  color: #777;
  // margin-right: 16px;
  gap: 10px;
  width: max-content;
}
.comment-info {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  color: #777;
  align-items: center;
  gap: 10px;
  justify-content: flex-end;
  // margin-right: 16px;
}

.timestamp {
  // margin-top: 2px;
}

.options-button {
  color: #333;
}

@media (max-width: 600px) {
  .comment-footer {
    // flex-direction: column;
    align-items: flex-start;
  }

  .user-info,
  .comment-details,
  .status-chip {
    margin-bottom: 8px;
  }
}


.highlight{
  border: 2px solid #1C5196;

}
